<h4>Auswertungsformular für Event</h4>
<h2 class="sac-ev-fb-event-title"><span class="fw-bold">"{{ event.title }}"</span></h2>
<p class="mt-3"><strong>Teilnehmerin/Teilnehmer: </strong>{{ member.firstname }} {{ member.lastname}} [{{ member.sacMemberId }}]</p>