{% extends '@Contao/block_unsearchable' %}

{% block content %}
    {% if error %}
    <p>{{ error }}</p>
    {% else %}
    <h1>Hallo {{ firstname }}!</h1>
    {{ form|raw }}
    {% endif %}
    {{ parent() }}
{% endblock %}